.model-background {
    position: fixed;
    inset: 0;

    background: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
}

.model {
    background: white;

    padding: 30px;
    border-radius: 10px;

    width: 400px;
    min-height: 200px;

    display: flex;
    flex-direction: column;
    gap: 15px;

}

.model h2{
    color: black;
}


.model p{
    color:black;
    display: flex;
    font-size: 16px;
}