.setting-container{
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 20px;

    top: 30%;
    left: 38%;

    color: white;
}

.setting-row{
    display: flex;
    align-items: center;
    gap: 20px;
}

.setting-row p {
    margin: 0;
    font-size: 20px;
}

.created-date{
    color: mediumpurple;
}