
.ticket {
    display: flex;
    flex-direction: column;

    min-height: 500px;

    padding: 20px;

    background-color: white;

    border: 1px solid black;
    border-radius: 10px;

    box-sizing: border-box;
}


.comment-open {
    margin-top: auto;

    padding: 12px;

    display: block;

    background-color: cornflowerblue;

    border: solid black 1px;
    border-radius: 10px;

    width: 100px;

    cursor: pointer;

    align-self: center;

    transition: 0.2s;
}

.comment-open:hover {
    background-color: #4f7fd1;
    transform: translateY(-2px);
}



.comment-background {
    position: fixed;
    inset: 0;

    background: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    border: solid 1px black;

    z-index: 1000;
}


.comment-container {
    width: 400px;
    max-width: 90%;

    padding: 30px;

    background: white;

    border-radius: 16px;

    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);

    box-sizing: border-box;
}



.comment-form {
    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 15px;
}



.comment-form h2 {
    color: black;

    font-size: 30px;

    margin: 0;
}



.comment-form textarea {
    width: 200px;
    height: 100px;

    padding: 10px;

    color: black;
    background-color: lightgray;

    border: solid black 1px;
    border-radius: 8px;

    resize: vertical;

    font-size: 14px;

    box-sizing: border-box;
}

.comment-form textarea:focus {
    background-color: grey;

    outline: none;
}


.comment-btn {
    width: 120px;

    padding: 10px;

    background-color: #2b87e7;

    color: white;

    font-size: 16px;

    border: none;
    border-radius: 20px;

    cursor: pointer;

    transition: 0.2s;
}

.comment-btn:hover {
    background-color: #287ace;

    transform: translateY(-1px);
}