.create-container{
    width: 100%;
    font-size: 20px;

    flex-direction: column;
    display: flex;
    justify-content: center;
}

.create-form{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.form-group input{
    width: 100%;
    box-sizing: border-box;
    padding: 7px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    font-size: 20px;

    color:black;

    background: lightgray;

    height: 30px;
}
.form-group input::placeholder{
    color: grey;
    font-size: 15px;
}
.form-group input:focus{
    color:black;
    border-color: darkgray;
    background: white;
}


.form-group textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 7px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    font-size: 17px;

    color:grey;

    background: lightgray;

    height: 200px;
}
.form-group textarea::placeholder{
    color: black;
    font-size: 15px;
}
.form-group textarea:focus{
    color:black;
    border-color: darkgray;
    background: white;
}

.create-btn{
    margin-top: 50px;
    height: 52px;
    width: 200px;

    border: 1px solid black;
    border-radius: 100px;

    background: dodgerblue;
    color: white;

    position: fixed;
    bottom: 150px;
    left: 45%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    cursor: pointer;
}

.create-btn:hover{
    background-color: royalblue;
}

.create-btn:active{
    transform: scale(0.99);
}