.register-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    flex-direction: column;
}

.register-form{
    flex-direction: column;
    display: flex;
    width: 400px;
    height: 300px;
    gap: 15px;
}

.register-form p{
    color: white;
}

