.setting-container{
    display: flex;
    flex-direction: column;

    margin: 50px auto;
    padding: 30px;

    font-size: 19px;
}

.setting-row{
    display: flex;
    align-items: center;
    gap: 10px;
}