.ticket-container {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;

    padding: 60px 10%;

    background: white;
    border: 1px solid #e5e5e5;
    border-radius: 16px;

    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);

    display: flex;
    flex-direction: column;
    justify-content: center;
}


.ticket-header {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 40px;
    border-bottom: 1px solid #eee;
}


.ticket-label {
    display: block;
    margin-bottom: 12px;

    font-size: 14px;
    text-align: center;
    color: #999;
}


.ticket-header h1 {
    margin: 0;

    font-size: 36px;
    text-align: center;
    color: #222;
}


.ticket-status {
    position: absolute;
    right: 0;
    top: 0;

    padding: 8px 16px;

    border-radius: 20px;

    font-size: 14px;
    font-weight: 600;

    background: #eee;
}


.ticket-description {
    width: 100%;
    max-width: 900px;

    margin: 0 auto;
    padding: 50px 0;
}

.ticket-description h3 {
    margin: 0 0 15px;

    font-size: 18px;
    color: #555;
}

.ticket-description p {
    margin: 0;

    font-size: 17px;
    line-height: 1.8;

    color: #333;

    white-space: pre-wrap;
}


.ticket-info {
    display: flex;
    justify-content: center;

    gap: 100px;

    padding-top: 35px;
    border-top: 1px solid #eee;
}

.info-item {
    display: flex;
    flex-direction: column;

    gap: 8px;

    min-width: 180px;
}

.info-item span {
    font-size: 13px;
    color: #999;
}

.info-item strong {
    font-size: 16px;
    color: #333;
}


.comments {
    width: 100%;
    max-width: 800px;

    margin: 40px auto 0;
    padding-top: 25px;

    border-top: 1px solid #ddd;
}


.comments h2 {
    margin: 0 0 20px;

    color: #222;
    font-size: 24px;
}


.comment-card {
    width: 100%;
    box-sizing: border-box;

    margin-bottom: 16px;
    padding: 18px 20px;

    background-color: #f8f9fa;

    border: 1px solid #ddd;
    border-radius: 12px;

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);

    transition: 0.2s ease;
}


.comment-card:hover {
    transform: translateY(-2px);

    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.12);
}


.comment-card strong {
    display: block;

    margin-bottom: 5px;

    color: #222;
    font-size: 16px;
}


.comment-card span {
    display: block;

    margin-bottom: 12px;

    color: #888;
    font-size: 13px;
}


.comment-card p {
    margin: 0;

    color: #333;

    font-size: 15px;
    line-height: 1.5;

    white-space: pre-wrap;
    overflow-wrap: break-word;
}

